@charset 'utf-8';

/* Footer*/
footer {
  width: 100%;
  padding: 20px 0px;
  background-color: black;
  font-family: 'IBM Plex Mono', monospace;
  z-index: 15;
  color: #969696;
}
a {
  color: white; /* Also "#fff"*/
}
